@{
    ViewData["Title"] = "Page not found";
}

<div>
    <div class="dialog">
        <h1>Ah, nuts!</h1>
        <p>we were unable to find the page you were looking for, but we'll get cracking on the problem.</p>
    </div>
    <img src="~/images/pistachios.jpg"/>
</div>
<footer>
    <p>&copy; 2016 - Michael Levy</p>
    <p>image: free404.com</p>
</footer>
  