@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 header">
        <p class="text-center">
            <span class="large-letter">Y</span>et
            <span class="large-letter">A</span>nother
            <span class="large-letter">U</span>RL
            <span class="large-letter">S</span>hortner
        </p>
        <p class="text-center">
            A tiny .NET Core experiment
        </p>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form role="form" class="form-inline">
            <div class="input-group input-group-lg">
                <input type="url" class="form-control input-lg" id="fullUrl" placeholder="Paste the link to be shortened"/>
                <span class="input-group-btn fill-sibling-cell">
                    <button id="shortenbutton" type="button" class="btn btn-primary btn-sm" disabled="disabled">shorten</button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-12"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control input-lg" id="shortenedUrl" readonly="readonly" />
            <span class="input-group-btn fill-sibling-cell">
                <button id="copyButton" type="button" class="btn btn-primary btn-sm" disabled="disabled">copy</button>
            </span>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<script type="text/javascript">
    var createUrl = "@ViewData["CreateUrl"]";
</script>